<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services offered by SCM</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rem, itaque sed placeat maxime dolorem libero eum officia vero quisquam.</p>
    </section>
    <script>
        console.log("Services page");
    </script>
    <!-- <script>
        console.log("Second Services page");
    </script> -->
</body>
</html>